<div class="row row-cover">
	<div class="col-lg-10 col-lg-offset-1">
		<!-- ###################################### -->
		<%= image_tag("dummy1.jpg") %>
		<!-- ###################################### -->
	</div>
</div>

<div class="row row-content">
	<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-6" id="bl">
					<center><h1>First 6</h1></center>
				</div>

				<div class="col-lg-6" id="gr">
					<center><h1>Sec 6</h1></center>
				</div>
			</div>

	</div>
</div>